.App {
  width: 90%;
  margin: auto;
  padding: 10px;
}
.Input {
  width: 40%;
  height: 600px;
  float: left;
  /* background-color: red; */
}
.Output {
  margin-left: 40%;
  /* background-color: blue; */
  height: 600px;
}
